---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$light-gray-color: #eee;
$medium-gray-color: #aaa;
$dark-gray-color: #666;
$darkest-gray-color: #222;
$dark-turquoise-color: #00CED1;
$teal-color: #008080;

// fonts

$heading-font-family: 'Open Sans', sans-serif;
$body-font-family: 'Noto Serif', serif;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "skeleton",
        "syntax-highlighting"
;


// styles

body {
  background: #f5f4f2;

  .content {
    background: #fff;
    padding: 3rem 0 3rem 0;
  }
}

.logo a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

// header
#site-header {
  cursor: default;
  height: 6rem;
  left: 0;
  line-height: 5rem;
  top: 0;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid #ccc;

  h1 {
    height: inherit;
    line-height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }

  nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0.5rem; 
    vertical-align: middle;

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      li {
        display: inline-block;
        margin-left: 2em;
        padding-left: 0;

        a {
          color: #555f66;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
        }

        &:first-child { margin-left: 0; }

      }
    }
  }
}

footer {
  padding: 3rem 0 3rem 0;
  text-align: center;
  border-top: 1px solid #ccc;
  ul {
    list-style-type: none;
  }
  p.site-description {
    text-transform: uppercase;
  }
  ul.social-media-list {
    li { 
      display: inline-block;
      margin-left: 2em;
      padding-left: 0;

      &:first-child { margin-left: 0; }
      &:hover path { fill: $dark-turquoise-color; }
    }
  }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path {
            fill: $medium-gray-color;
        }
    }
}

