<script>
  $(function() {
    var scrobble = function() {
      $.ajax("https://lannon.herokuapp.com/api/scrobbler/recent_tracks.json?limit=1")
        .done(function(data) {
          var mostRecent = data[0];
          var nowPlaying = false;
          if (mostRecent['@attr'] && mostRecent['@attr']['nowplaying']) {
            nowPlaying = true;
          }

          var $scrobbleDiv = $('#scrobble');
          var verb = "Most recently listened to";
          if (nowPlaying) {
            verb = "Currently listening to";
          }

          $scrobbleDiv.removeClass('active');
          $scrobbleDiv.find('#listenVerb').html(verb); 
          $scrobbleDiv.find('#songName').html(mostRecent.name); 
          $scrobbleDiv.find('#artistName').html(mostRecent.artist['#text']); 
          $scrobbleDiv.find('#albumName').html(mostRecent.album['#text']); 
          $scrobbleDiv.addClass('active');
        });
    };
    $('footer').on('click', '#scrobble', function() {
      window.open("http://www.last.fm/user/jlannon",'_blank');
    });
    setTimeout(function() {
      scrobble();
    }, 250);
    setInterval(scrobble, 135*1000);
  });
</script>

<div id="scrobble">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
    <path d="M15 0h1v11.5c0 1.381-1.567 2.5-3.5 2.5s-3.5-1.119-3.5-2.5c0-1.381 1.567-2.5 3.5-2.5 0.979 0 1.865 0.287 2.5 0.751v-5.751l-8 1.778v7.722c0 1.381-1.567 2.5-3.5 2.5s-3.5-1.119-3.5-2.5c0-1.381 1.567-2.5 3.5-2.5 0.979 0 1.865 0.287 2.5 0.751v-9.751l9-2z"></path>
  </svg>
  <span id="listenVerb"></span>: <span id="songName"></span> by <span id="artistName"></span> from <span id="albumName"></span>.
</div>
