<script>
  $(function() {
    var scrobble = function() {
      $.ajax("https://lannon.herokuapp.com/api/scrobbler/recent_tracks.json?limit=1")
        .done(function(data) {
          var mostRecent = data[0];
          var nowPlaying = false;
          if (mostRecent['@attr'] && mostRecent['@attr']['nowplaying']) {
            nowPlaying = true;
          }

          var $scrobbleDiv = $('#scrobble');
          var verb = "Most recently listened to";
          if (nowPlaying) {
            verb = "Currently listening to";
          }

          $scrobbleDiv.removeClass('active');
          $scrobbleDiv.find('#listenVerb').html(verb); 
          $scrobbleDiv.find('#songName').html(mostRecent.name); 
          $scrobbleDiv.find('#artistName').html(mostRecent.artist['#text']); 
          $scrobbleDiv.addClass('active');
        });
    };
    setTimeout(function() {
      scrobble();
    }, 250);
    setInterval(scrobble, 135*1000);
  });
</script>

<div id="scrobble">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
    <path d="M4.5 9h-1v7h1c0.275 0 0.5-0.225 0.5-0.5v-6c0-0.275-0.225-0.5-0.5-0.5z"></path>
    <path d="M11.5 9c-0.275 0-0.5 0.225-0.5 0.5v6c0 0.275 0.225 0.5 0.5 0.5h1v-7h-1z"></path>
    <path d="M16 8c0-4.418-3.582-8-8-8s-8 3.582-8 8c0 0.96 0.169 1.88 0.479 2.732-0.304 0.519-0.479 1.123-0.479 1.768 0 1.763 1.304 3.222 3 3.464v-6.928c-0.499 0.071-0.963 0.248-1.371 0.506-0.084-0.417-0.129-0.849-0.129-1.292 0-3.59 2.91-6.5 6.5-6.5s6.5 2.91 6.5 6.5c0 0.442-0.044 0.874-0.128 1.292-0.408-0.259-0.873-0.435-1.372-0.507v6.929c1.696-0.243 3-1.701 3-3.464 0-0.645-0.175-1.249-0.479-1.768 0.31-0.853 0.479-1.773 0.479-2.732z"></path>
  </svg> <span id="listenVerb"></span>: <span id="songName"></span> by <span id="artistName"></span>.
</div>
